.Link {
  text-decoration: none;
  /* padding: 20px; */
}

.Link:visited,
.Link:link {
  color: #2c3e50;
}

/* .Link a:visited,
.Link a:link {
  color: #2c3e50;
} */

.Link:hover {
  opacity: .8;
}

.Link.Pull-Right {
  margin-left: auto;
}

/* .Link a {
  text-decoration: none;
} */